# Disable MultiViews so that Apache doesn't try to match the URL path to a file name.
Options -MultiViews

RewriteEngine On

RewriteBase /app

#RewriteRule ^/?([a-z]+)/(.*)$ index.php?resource=$1&id=$2 [QSA]

# QSA is a flag for Apache to keep the query string that is part of the original URL  before the rewrite
# the L flag tells Apache to stop at the current rule and not apply the next rewrite rules
RewriteRule ^(.+) index.php?url=$1 [QSA,L]
#RewriteRule ^() index.php?url=$1 [QSA,L]